@font-face {
    font-family: defaultFont;
    src: url(fonts/OpenSans-Regular.ttf);
}
@font-face {
    font-family: defaultFont;
    src: url(fonts/OpenSans-Bold.ttf);
    font-weight: bold;
}
body{
    background-color: darkgray;
    font-family: defaultFont;
}
button{
    background-color: #2ba6cb;
    border: 1px solid #1e728c;
    box-shadow: 0 2px 0 rgba(255, 255, 255, 0.5) inset;
    padding-top: 2px;
}
input{
    width: 100%;
    padding-right: 15px;
    position: relative;
    right: 15px;
}
#log{
    display: inline-block;
    width: 250px;
    height: 500px;
    background-color: white;
    margin: 20px;
    box-shadow: dimgray 2px 2px 25px;
}
.head{
    margin-bottom: 2px;
    font-weight: bolder;
    background-color: lightgrey;
    position: relative;
}
.content{
    margin-bottom: 2px;
    position: relative;
}
.content > p{
    border: 1px solid rgb(255, 255, 255);
    margin: 5px;
    padding: 5px;
    position: relative;
}
.expand{
    background-image: url("icons/ic_expand_more_black_24dp.png");
    background-size: 27px 27px;
    display: inline-block;
    height: 27px;
    width: 27px;
    cursor: pointer;
    vertical-align: middle;
}
.add-button{
    display: inline-block;
    font-size: x-small;
    background-color: #2ba6cb;
    border: 1px solid #1e728c;
    box-shadow: 0 2px 0 rgba(255, 255, 255, 0.5) inset;
    border-radius: 4px;
    padding: 6px 4px 4px 4px;
    margin-left: 10px;
    position: absolute;
    right: 4px;
    top: 12.5%;
    cursor: pointer;
}
.add-button:active{
    box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.5) inset;
    padding: 4px 4px 6px 4px;
    outline: none;
}
hr{
    margin: 10px 15px 10px 15px;
}
#add{
    padding: 0 10px 0 10px;
    text-align: center;
}
.close{
    background-image: url("icons/ic_clear_black_24dp.png");
    float: left;
    width: 20px;
    height: 20px;
    background-size: 21px 21px;
    cursor: pointer;

}
.input-wrapper{
    padding: 0 6px 0 35px;
}
.send{
    width: 20px;
    position: absolute;
    right: 1px;
    z-index: 1;
    cursor: pointer;
}
.content > p:hover{
    background: rgb(240, 240, 240);
    border-color: rgb(240, 240, 240);
    border-radius: 5px;
}
.delete{
    background-image: url("icons/ic_dnd_on_red_24dp.png");
    background-size: 11px 11px;
    height: 11px;
    width: 11px;
    display: none;
    position: absolute;
    right: 2px;
    top: 2px;
}
.delete{
    cursor: pointer;
}
.content > p:hover > .delete{
    display: inline-block;
}
.edit{
    display: none;
    position: absolute;
    right: 17px;
    top: 2px;
    border: #2ba6cb solid 1px;
    background: #2ba6cb;
    color: white;
    border-radius: 4px;
    font-size: xx-small;
    font-weight: 600;
    padding: 1px;
    cursor: pointer;
}
.content > p:hover > .edit{
    display: inline-block;
    opacity: 0.8;
}