<!DOCTYPE html>
<html ng-app="scrumdoro">
<head>
    <link href='styles/bootstrap.min.css' rel='stylesheet' type='text/css'>
</head>
<body ng-class="className" ng-controller="mainController">
<link rel="stylesheet" type="text/css" href="styles/index.css">

<script src="js/vendor/angular.min.js"></script>
<script src="js/vendor/angular-ui-router.min.js"></script>
<script src="js/vendor/angular-route.min.js"></script>
<script src="js/vendor/json-formatter.min.js"></script>
<script src="js/public.js"></script>
<script src="//localhost:35729/livereload.js"></script>
    <div ui-view></div>
</body>
</html>