<div class="page-sidebar-wrapper">
    <nav>
        <ul>
            <li class="active">
                <a ui-sref="app.dashboard" class="nosub">
                <span class="title">Dashboard</span>
                </a>
            </li>
            <li class="auto">
                <a ui-sref="app.projectManager">
                <span class="title">Project Manager</span>
                </a>
            </li>
            <li class="auto">
                <a ui-sref="app.taskManager">
                    <span class="title">Task Manager</span>
                </a>
            </li>
            <li class="auto">
                <a ui-sref="app.bugManager">
                    <span class="title">Bug Manager</span>
                </a>
            </li>
        </ul>
    </nav>

    <div style="bottom: 0; position: absolute; width: 200px;color: antiquewhite;
    font-size: 48px;
}">
        {{date.hours}}:{{date.minutes}}:{{date.seconds}}
    </div>

</div>
<link rel="stylesheet" type="text/css" href="styles/partials/components/sidebar.css">
