<div class="well well-lg">
    <h1>Todo list for today : {{date.weekday}} {{date.day}}, {{date.month}} {{date.year}}</h1>




    <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">
           2/4 - 50%

        </div>
    </div>
    <div class="well well-lg">
        <ul id="sortable" class="list-unstyled ui-sortable">
            <li class="ui-state-default">
                <div class="checkbox"><label>
                    <input type="checkbox" value="" checked>
                    <span class="label label-success">ScrumDoro</span>

                    <s>Todo</s> - <button>Delete Task</button> - Time Est. : 1 Pomodoro 25:00  - Time Eff. : <span class="atTimeTask">2 Pomodoro 50:00 </span></label>
                </div>
            </li>
            <li class="ui-state-default">
                <div class="checkbox"><label>
                    <input type="checkbox" value="" checked>
                    <span class="label label-primary">CryptoFX</span>

                    <s>Todo</s> - <button>Delete Task</button> - Time Est. : 1 Pomodoro 25:00  - Time Eff. : <span class="lateTask">2 Pomodoro 50:00  </span> </label>
                </div>
            </li>
            <li class="ui-state-default">
                <div class="checkbox"><label>
                    <input type="checkbox" value="">
                    <span class="label label-warning">Project X</span>
                    Todo - <button>Start Pomodoro</button> - Time Est. : 1 Pomodoro 25:00  - Time Eff. : ??? </label>

                </div>
            </li>
            <li class="ui-state-default">
                <div class="checkbox"><label>
                    <input type="checkbox" value="">
                    <span class="label label-info">Personal</span>

                    Todo - <button>Start Pomodoro</button> - Time Est. : 1 Pomodoro 25:00  - Time Eff. : ??? </label>

                </div>
            </li>
        </ul>
    </div>
</div>
<div class="well well-lg"></div>
<div class="well well-lg"></div>
<div class="well well-lg"></div>
<div class="well well-lg"></div>
<div class="well well-lg"></div>
<link rel="stylesheet" type="text/css" href="styles/dashboard.css">

