<div class="well well-lg">
    <h1>project manager</h1>


    1) First : Popup for asking name of Company, then ask for name of a first project.
    2) Second : display a chart or a gantt on the avancement over time of the project
    3) Third : On click on a company, it display projects, on click on a project, it display the scrum board
    in wich are four part : todo, doing, reviewing, done.
    Adding new card for scrumboard are doable in the backlog
</div>
<div class="well well-lg"></div>
<div class="well well-lg"></div>
<div class="well well-lg"></div>
<div class="well well-lg"></div>
<div class="well well-lg"></div>
<link rel="stylesheet" type="text/css" href="styles/dashboard.css">

