.logo-area{
    background-color: #00797c;
}

.logo-area{
    width: 300px;
    height: 60px;
}
.logo-img{
    height: 60px;
    width: 160px;
    margin-left: 4px;
    zoom:1;
    border:0px;
}
.menubar{
    background-color:#00797C;
    height: 60px;
}
.pagetitle-upper-line{

}
.pagetitle h1{
    position: relative;
    padding: 25px 45px 0 55px;
    margin: 0 0 -5px 0;
    font-size: 32px;
    font-weight: 600;
    line-height: 35px;
    color: #455a64;
    text-shadow: 2px 2px rgba(100,100,100,0.1);
    text-transform: uppercase;
    background-color: #eff7e8;
}
.pagetitle{
    position: relative;
}
.page-topbar, .logo-area{
    float: left;
}
.page-topbar{
    position: fixed; top:0;
    left:0;z-index: 10;
    width: 100%;
    min-height: 60px;
    max-height: 60px;
    background-color: #37474f;
}
.pagetitle:before{
    position: absolute;
    top:0;
    left:-18px;
    z-index: 1;
    display: block;
    width: 40px;
    height:60px;
    background-color: #00797c;
    content:"";
    -webkit-transform: skewX(30deg);
    -moz-transform: skewX(30deg);
    -ms-transform: skewX(30deg);
    -o-transform: skewX(30deg);
    transform: skewX(30deg);
}
.pagetitle h1:after {
    position: absolute;
    top: 0;
    right: -18px;
    z-index: 1;
    display: block;
    width: 40px;
    height: 60px;
    background-color: #37474f;
    content: " ";
    -webkit-transform: skewX(30deg);
    -moz-transform: skewX(30deg);
    -ms-transform: skewX(30deg);
    -o-transform: skewX(30deg);
    transform: skewX(30deg);
}